<!DOCTYPE html>
<html>
  <head>
    <title>Thermal Printer</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="sfondo">
    <h1 class="w3-text-blue">GITHUB ISSUE THERMAL PRINTER</H1>
    </br>
    <center><img src="/static/image.jpg" class="centerImage" alt="CH Logo" width="200px" height="200px "></center>
    </br>
    </br>
    <center><div class="sfondo2" style="width:800px;height:200px; padding-left: 100px; padding-right: 100px; padding-top: 60px; padding-bottom: 60px;">
    </br> 
    <h2 class="w3-text-blue">WRONG PASSWORD</h2>
      </br>
    </div></center>
  </body>
</html>
