<!DOCTYPE html>
<html>
  <head>
    <title>Thermal Printer</title>
  </head>
  <body>
    <h1>GITHUB ISSUE THERMAL PRINTER</H1>
    </br>
    <form method="POST">
      <h2>Select the issue to print</h2>
      </br>
      <section class="password">
       <label for="pi">Insert the password</label>
       <input type="password" name="pi" id="pi">
      </section> 
      <hr>
      <section class="repository">
       <label for="repo">Insert the repository</label>
       <input type="text" name="repo" id="repo">
      </section>
      <hr>
      <section class="number issue">
       <label for="number_issue">Insert the number of the issue</label>
       <input type="number" name="number_issue" id="number_issue" step="1">
      </section>
     <button onclick=" document.getElementsByTagName('progress')[0].style.display ='block';" type="submit">print!</button> 
    </form>
    </br>
    </br>
    <progress style="display: none"></progress>
  </body>
</html>


    
      
    
